$mblack:#222831;
$sblack:rgb(57, 62, 70);
$mcolor:#00adb5;
$mgrey:#eeeeee;
$hint:#ec5252;

$white:#fff;
$grey-1:#ECEFF1;
$black-1:#1a1a1a;
$black-2:#333;
$secondary:#a8a8a8;

$main-blue:#080E33;

$warning:#F2CB05;
$white:#fff;
$primary:#15038C;
$secondary:#DF0045;
$dark:#253840;
$success:#00A8A6;
$default:#1a1a1a;

$mont:  'montserrat', sans-serif;
$nun: 'Nunito', sans-serif;
$muk: 'Mukta', sans-serif;
$fast:'faster one',sans-serif;
$rob:'roboto',sans-serif;

